DB_HOST=mongodb+srv://Natala:deOSuMDIopcf7EnB@cluster0.mlqxyxm.mongodb.net/db-contacts?retryWrites=true&w=majority
PORT=3000 
SECRET_KEY=gfhjs236mdfhghs

DB_TEST_HOST=mongodb+srv://Natala:deOSuMDIopcf7EnB@cluster0.mlqxyxm.mongodb.net/tests-db?retryWrites=true&w=majority

